body {
  display: flex;
  background-color: rgb(13, 107, 13);
  justify-content: center;
}
.container.reversed {
  display: flex;
  flex-direction: row-reverse; /* Invertir la dirección de los elementos flexibles */
}

/* .card {
  width: 200px;
  height: 350px;
  background-color: whitesmoke;
  border-radius: 10px;
  border: black solid 3px;
} */
.card {
  width: 200px;
  height: 350px;
  background-color: whitesmoke;
  border-radius: 10px;
  border: black solid 3px;
  display: flex;
  flex-direction: column; /* Alinear los elementos en una columna */
  justify-content: space-between;
  padding: 10px; /* Añadir espacio interior */
  position: relative;
}
#numero-superior {
  font-size: 36pt;
  display: flex;
  justify-content: start;
  width: 100%;
}
#numero-inferior {
  font-size: 36pt;
  display: flex;
  justify-content: end;
  width: 100%;
}
#simbolo {
  font-size: 72pt;
  display: flex;
  justify-content: center;
  width: 100%;
}
#numero span {
  display: block;
  transform: rotate(180deg); /* Girar cada span 180 grados */
}
.top {
  order: 1; /* Cambiar el orden para que el número aparezca arriba */
}

.rojo {
  color: red;
}
.negro {
  color: black;
}
